h1,
h2,
h3,
h4,
h5,
h6,
.navbar-custom .nav li a {
  font-weight: normal;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  font-size: 40px;
}
.navbar-custom .navbar-brand {
  display: none;
}
article .container .row img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure.highlight + img {
  margin-top: 30px;
}
.post-tags a,
.post-categories a {
  text-decoration: none;
}
