h1,
h2,
h3,
h4,
h5,
h6,
.navbar-custom .nav li a {
  font-weight: normal;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  font-size: 40px;
}
.navbar-custom .navbar-brand {
  display: none;
}
article .container .row img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
figure.highlight + img {
  margin-top: 30px;
}
.post-tags a,
.post-categories a {
  text-decoration: none;
}
.post-preview > .post-meta > a {
  color: #808080;
}
.post-preview > a > .post-title {
  margin-bottom: 5px;
}
.post-preview > a > .post-subtitle {
  line-height: 1.5;
  margin-bottom: 5px;
}
.unsplash-credit {
  font-style: italic;
}
img+center {
  font-size: 0.8em;
  opacity: 0.8;
  margin-top: 4px;
}
.post-heading > h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.site-heading .twitter-follow-button {
  margin-top: 15px;
}
.site-heading a.twitter-follow-button {
  display: inline-block;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  margin-top: 18px;
  margin-bottom: 14px;
}
iframe[src^="https://gfycat.com/ifr/"] {
  display: block;
  margin: auto;
}
article .container .row blockquote footer {
  padding-bottom: 0;
}
.intro-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  max-height: 800px;
  min-height: 400px;
}
.intro-header .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
}
.about-photo {
  float: right;
  margin: 30px 0 40px 40px;
}
@media only screen and (max-width: 767px) {
  .intro-header {
    height: auto;
    min-height: 0;
  }
}
